<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/">Eveline CoffeeShop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4 flex-grow-1">
                <li
                        class="nav-item"
                        th:each="menuItem : ${menu}"
                        th:class="${menuItem.href == '/logout' || menuItem.href == '/login' ? 'ms-auto' : ''}"

                >
                    <a class="nav-link active" aria-current="page"
                       th:href="${menuItem.href}"
                       th:text="${menuItem.title}"
                    />
                </li>
            </ul>
            <a class="btn btn-dark" type="submit" href="/cart" th:if="${isAuth == true}">
                Корзина
                <i class="bi-cart"></i>
            </a>
        </div>
    </div>
</nav>