<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/admin">
<body>

<div layout:fragment="dashboard">
    <div  class="container px-4 px-lg-5 mt-5">
        <h1 class="mb-5">Товары</h1>
        <table class="table" >
            <tbody>
            <tr th:each="item : ${items}">
                <th scope="row" th:text="${item.id}"></th>
                <td th:text="${item.title}"></td>
                <td th:text="${item.descr}"></td>
                <td th:text="${item.cost}"></td>
                <td>
                    <a th:href="@{/admin/delete/{id}(id=${item.id})}" class="btn btn-danger">
                        <i class="bi bi-trash"></i>
                    </a>
                    <a th:href="@{/admin/edit/{id}(id=${item.id})}" class="btn btn-dark">
                        <i class="bi bi-pencil-fill"></i>
                    </a>
                    <a th:href="@{/item/{id}(id=${item.id})}" class="btn btn-primary">
                        <span class="bi bi-eye-fill"></span>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>