<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/admin">
<body>

<div layout:fragment="dashboard">
    <div  class="container px-4 px-lg-5 mt-5">
        <h1 th:text="${item.title} "></h1>
        <div class="row">
            <form method="POST" enctype="multipart/form-data" class="d-flex flex-column gap-4 col-6">
                <img th:src="'/photos/'+${item.id}+'.jpg'" width="80" height="90"/>
                <div>
                    <label for="file" class="form-label">Новая фотография:</label>
                    <input type="file" id="file" name="file" class="form-control">
                </div>
                <div>
                    <label for="title" class="form-label">Название:</label>
                    <input type="text" id="title" name="title" th:value="${item.title}" class="form-control"/>
                </div>
                <div>
                    <label for="descr" class="form-label">Описание:</label>
                    <input type="text" id="descr" name="descr" th:value="${item.descr}" class="form-control"/>
                </div>
                <div>
                    <label for="cost" class="form-label">Цена:</label>
                    <input type="text" id="cost" name="cost" th:value="${item.cost}" class="form-control"/>
                </div>

                <button type="submit" class="btn btn-success mt-5">Добавить</button>

            </form>
        </div>
    </div>
</body>
</html>